<div class="upload-img-popover" id="{{vars.id}}">
    <p node-type="filenum" class="filenum">{{text}}</p>
    <ul class="list-unstyled img-list">
      <li class="doupload">
        <a href="javascript:void(0);" class="fileinput-button" id="{{vars.uploadId}}"></a>
      </li>
   </ul>
</div>